.bitbon-info__button {
    display: inline-block;
    width: 96px;
    height: 96px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(images/info_sprites.png);
    background-repeat: no-repeat;
    background-position: 7px -71px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
    @include respond-to(xl) {
        width: 86px;
        height: 86px;
        background-position: 2px -75px;
    }
}