.bitbon-info__video {
    margin-top: 40px;
    
    iframe {
        width: 65%;
        height: 385px;
        @include respond-to(xl) {
            height: 320px;
        }
        @include respond-to(lg) {
            width: 90%;
        }
        @include respond-to(md) {
            width: 100%;
            height: 280px;
        }
        @include respond-to(xs) {
            height: 234px;
        }
    }
}