.bitbon-info__text {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    @include respond-to(xl) {
        font-size: 13px;
        font-weight: normal;
    }
}