.accordion__button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    transition: .3s;
    text-align: left;
    @include respond-to(md) {
        font-size: 18px;
    }
    
    &:focus {
        outline: none;
    }
    
    &:hover {
        color: $color-bg;
        transition: .3s;
    }
}