.title {
    font-size: 32px;
    font-weight: 200;
    color: #595f6b;
    text-transform: uppercase;
    @include respond-to(xs) {
        font-size: 26px;
    }
    
    a {
        color: #595f6b;
        
        &:hover {
            text-decoration: none;
            color: #30a6e0;
        }
    }
}