.taxonomy__cat {
    font-size: 14px;
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    @include respond-to(sm) {
        width: 100%;
    }
    
    &:first-child {
        margin-bottom: 15px;
    }
    
    &:last-child {
        margin-left: 32px;
        justify-content: flex-start !important;
    }
    
    a {
        color: #fff;
        
        &:hover {
            color: #fff;
        }
    }
}