.taxonomy {
    padding: 18px 25px;
    background-color: $color-bg;
    background-image: linear-gradient(-30deg,#008fff,#53b1fb,rgba(0,143,255,.89) 34%,rgba(0,143,255,.89) 35%,rgba(0,143,255,.59) 53%,rgba(0,143,255,.43) 63%,rgba(0,143,255,.3) 74%,rgba(0,143,255,.06) 95%,rgba(83,177,251,0));
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #fff;
    @include respond-to(sm) {
        flex-wrap: wrap;
    }
}