.info-main__content {
    padding: 0 100px;
    font-size: 16px;
    color: #3e3e3e;
    line-height: 30px;
    @include respond-to(lg) {
        padding: 0;
    }
    @include respond-to(sm) {
        text-align: left;
    }
    @include respond-to(xs) {
        font-size: 14px;
    }
    
    p {
        font-weight: normal;
        margin-bottom: 16px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    h4 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    
    a {
        color: #30a6e0;
    }
}