.slider-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 80px;
    @include respond-to(md) {
        padding-top: 20px;
        padding-bottom: 0;
    }
    @include respond-to(sm) {
        display: none;
    }
}