.welcome {
    background-image: url(images/welcome_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 120px;
    @include respond-to(sl) {
        background-size: auto;
    }
    @include respond-to(lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include respond-to(xs) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}