.button {
    display: inline-block;
    border-radius: 3px;
    background-color: #30a6e0;
    background-image: linear-gradient(to bottom, #369aec, rgba(83,177,251,.72) 10%, rgba(99,200,252,.47) 19%, rgba(130,245,255,.55) 37%, #2496f2);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    margin: 20px 0;
    padding: 0 30px;
    line-height: 57px;
    transition: .3s;
    
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #01abff;
        background-image: none;
        transition: .3s;
    }
}