.phone {
    font-size: 14px;
    color: #fff;
    max-width: 300px;
    @include respond-to(sl) {
        max-width: 200px;
    }
    @include respond-to(sm) {
        max-width: 100%;
        font-size: 18px;
    }
    
    a {
        color: #fff;
    }
}