.header {
    background-color: #30a6e0;
    background-image: linear-gradient(to bottom, #369aec, rgba(83,177,251,.72) 10%, rgba(99,200,252,.47) 19%, rgba(130,245,255,.55) 37%, #2496f2);
    z-index: 100;
    transition: .3s;
    position: fixed;
    top: 0;
    width: 100%;
}